<div class="container mt-12 pd">
  <div class="row">
    <div class="col-sm-2 br" style="height: 550px; width: 10px;"></div>
    <div class="col-sm-10 bb mr">
      <div class="container mt-5">

        <!-- <tabset class="tabset">
          <tab heading="لیست فیلمنامه ها" id="tab1">
            <div class="container">
              <div class="row justify-content-center">
                <div>
                  <div class="" style="">
                    <app-screenplay-all></app-screenplay-all>
                  </div>
                </div>
              </div>
            </div>

          </tab>
          <tab heading="ثبت فیلمنامه">
            <app-screenplay-reg (cancelRegister)="cancelRegisterMode($event)"></app-screenplay-reg>

          </tab>
          <tab heading="نمودار">
            <!-- <app-chart-format-all></app-chart-format-all> -->
            <!-- <div  style="text-align: center; margin-top: 50px;">
              <div class="row">
                <div class="col">
                    <h3 style="font-family: BTraffic;">تعداد فیلمنامه ها به تفکیک قالب</h3>
              <app-chart-format-all2></app-chart-format-all2>
                </div>
                <div class="col">
                    <h3 style="font-family: BTraffic;">تعداد فیلمنامه ها به تفکیک وضعیت</h3>
              <app-chart-status-all></app-chart-status-all>
                </div>

              </div> -->

            
            <!-- </div>

          </tab>

          <tab heading="تست منابع" id="tab1">
            <div class="container">
              <div class="row justify-content-center">
                <div>
                  <div class="" style="">
                   <app-r-request-all></app-r-request-all>
                  </div>
                </div>
              </div>
            </div>

          </tab>
       

        </tabset> -->

 -->





      </div>


    </div>
  </div>
</div>