
    <app-barname-info [item]="selectedOption" (cancelRegister)="cancelRegisterMode($event)"></app-barname-info>

    <div class="container">
 
      
       <!-- an hidden div is created to set the position of appearance of the menu-->
       <div style="visibility: hidden; position: fixed;"
       [style.left.px]="menuTopLeftPosition.x"
       [style.top.px]="menuTopLeftPosition.y"
       [matMenuTriggerFor]="rightMenu"></div>
       
       <!-- standar material menu -->
       <mat-menu #rightMenu="matMenu" >
        
         <div
         style="direction: rtl;"
        >
         <ng-template matMenuContent let-item="item" >
           <div
           (click) = "$event.stopPropagation()">
 
          
             <div class="p-3 mb-2 bg-primary text-white" style="margin-bottom: 10px; font: 1em BTraffic;">فعالیت های&nbsp; {{item.content+1}}&nbsp;{{monthName[month-1]}}</div>
    
 
             <button mat-menu-item style="background-color: transparent; border: transparent;" >
               <mat-checkbox 
                     [aria-label]="" 
                     value="{{selectedActivity_1_ForDay[item.content+1].value}}"
                     [(ngModel)]="selectedActivity_1_ForDay[item.content+1].checked">
               </mat-checkbox>&nbsp;&nbsp; &nbsp;&nbsp; <span style=" font-family: BTraffic;">فعالیت 1</span> 
             </button>
        
             <button mat-menu-item >
               <mat-checkbox 
                     
                     [aria-label]="" 
                     value="{{selectedActivity_2_ForDay[item.content+1].value}}"
                     [(ngModel)]="selectedActivity_2_ForDay[item.content+1].checked">
               </mat-checkbox>&nbsp;&nbsp; &nbsp;&nbsp; <span style=" font-family: BTraffic;">فعالیت 2</span> 
             </button>
        
     
        
             <button mat-menu-item style="background-color: transparent; border: transparent;" >
               <mat-checkbox 
                     [aria-label]="" 
                     value="{{selectedActivity_3_ForDay[item.content+1].value}}"
                     [(ngModel)]="selectedActivity_3_ForDay[item.content+1].checked">
               </mat-checkbox>&nbsp;&nbsp; &nbsp;&nbsp; <span style=" font-family: BTraffic;">فعالیت 3</span> 
             </button>
        
       <ejs-multiselect id='multiselectelement' [dataSource]='data2' [placeholder]='placeholder' ></ejs-multiselect>
 
             </div>
             <div class="box">
              <div>
                  <button class="btn btn-info">
                    <mat-icon color = "primary"
                   class="delete_btn_all" >
                   check_circle_outline
                    </mat-icon></button>
                  <button class="btn btn-danger" (click)="uncheckedActivityFnc(item.content+1)">
                   <mat-icon>cancel</mat-icon>
                  </button>     
               </div>
          
             </div>
 
         </ng-template>
        
       </div>
   
       </mat-menu>
       </div>
 
    
 
 
     <div class="container"  
 (mousedown)="mouseClickDown($event)"
 (mouseup)="mouseClickUp($event)">
     <form [formGroup]="resourceForm" >
 
       <div class="row">
         <div class="col">
           <div class="form-group">
           
             <ejs-dropdownlist 
             [(ngModel)]="selectedOption"
             enableRtl='true' 
             floatLabelType="Auto" 
             id='ddlelement' 
             #samples 
             [dataSource]='dataResource' 
             [fields]='fieldResource' 
             formControlName="resourceId" 
             [placeholder]='textResource' [allowFiltering]='true' 
             (filtering)='onFilteringResource($event)'
             (change)="onChangeResource($event['value'])">a
           </ejs-dropdownlist>
         
           </div>
         </div>
 
         <div class="col">
           <div class="form-group">
           
             <ejs-dropdownlist 
             [(ngModel)]="selectedCapacity"
             enableRtl='true' 
             floatLabelType="Auto" 
             id='requestResId' 
             #samples 
             [dataSource]='data' 
             [fields]='capacityFields' 
             formControlName="capacity"
             [placeholder]='textCapacity' 
             (change)="onChangeRequestRes($event['value'])"
             >
             </ejs-dropdownlist>
         
           </div>
         </div>
 
         <div class="col" style="width: 50px;">
           <div class="form-group" >
             
             <div class="" >
               <span class="" style="color: rgb(160, 159, 159);"></span>
                   <div style="height: 30px;;border-bottom:  1px solid rgb(160, 159, 159);  margin-top: 20px; text-align: right ;" >
                      
                 
                   {{resourceUnit}}
                   
                   </div>
             
               
               
           
           </div>
     
     
           </div>
         </div>
     
      
         <div class="col">
           <div class="form-group">
           
             <ejs-dropdownlist 
             enableRtl='true' 
             floatLabelType="Auto" 
             id='yearId' 
             #samples 
             [dataSource]='yearData' 
             [fields]='yearFields' 
            
             formControlName="yearFormControl"
             [placeholder]='textYear' 
             (change)="onChangeYear($event.value)"
             >
             </ejs-dropdownlist>
         
           </div>
         </div>
      
      
         <div class="col">
           <div class="form-group">
           
             <ejs-dropdownlist 
             enableRtl='true' 
             floatLabelType="Auto" 
             id='monthId' 
             #samples 
             [dataSource]='monthData' 
             [fields]='fieldMonth' 
             formControlName="monthFormControl"
             [placeholder]='textMonth' 
             (change)="onChangeMonth($event.value)"
             >
             </ejs-dropdownlist>
         
           </div>
         </div>
      
      
       </div>
 
     </form>
 
     <div>
       <button
       
       class="btn-success regbtn btnok"
       (click)="register()">ثبت </button>
      
     
     </div>
 

 

 
     
   
 </div>
 
 
<div>

    <form [formGroup]="formTest">
        <mat-checkbox 
        *ngFor="let cd of columnDefinitionsFormTest"  
        style="width: 150px;"
        [formControlName]="cd.def">
        <img src='../../assets/library/images/icon/{{cd.icon}}' alt="icon" width="20" height="20">
        <!-- {{cd.label}}  -->

        
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
      </mat-checkbox>
    </form>
    <div style="">
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
      </mat-paginator> -->

      <div  class="flex-container1" >
        <div class="div1 fl"></div>
              <div class="div2 fl">
                  <ejs-multiselect enableRtl='true' #checkboxForDaySelection floatLabelType="Auto" id='dayId' #samples [dataSource]='dataDay' [fields]='fieldsDay' formControlName="day" [placeholder]='textDay' [allowFiltering]='true' >a</ejs-multiselect>
            
              </div>
              <div class="div3 fl" style="vertical-align: middle;">
                    <button
                    style="   margin-top: 45%; "
                    class="btn btn-primary"
                    (click)="daySelectFunc()">انتخاب روز</button>
            </div>
        
        
        </div>
        <div class="flex-container ">
          <div>
                  <table style="text-align: center;">
       
                  <tbody>
       
                    <tr>
                      
                      <th class="accepted legend_tr col-2" >تخصیص داده شده</th>
                      <th class="prim_reg legend_tr col-2" >قبلاٌ انتخاب کرده‌اید</th>
                      <th class="unavailable_Cell_ForReg  col-2 legend_tr">نداشتن ظرفیت</th>
                      <th class="selected_Cell_ForReg   col-2 legend_tr">انتخاب</th>
                      <th class="in_query_legend legend_tr  col-2 ">صف تقاضا</th>
                
                    </tr>
       
                  </tbody>
                </table> 
          </div>
        
         
       
        </div>
    <mat-table class="mat-elevation-z8 disable-text-selection" [dataSource]="dataSource3"
    (mousedown)="mouseClickDown($event)"
    (mouseup)="mouseClickUp($event)" >
    
       
    
    <ng-container matColumnDef="day" >
            <mat-header-cell *matHeaderCellDef>  روز</mat-header-cell>
            <mat-cell *matCellDef="let row;">{{row.day}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="activity">
          <mat-header-cell *matHeaderCellDef>فعالیت</mat-header-cell>
          <mat-cell *matCellDef="let row;">
            <button class="activityClass" title=" {{row.activity}}"> {{row.activity}}</button>
           
          </mat-cell>
      </ng-container>

        <ng-container *ngFor="let dynamicColumn of 
        ['hour1', 'hour2','hour3','hour4','hour5','hour6','hour7','hour8'
        ,'hour9','hour10','hour11','hour12','hour13','hour14','hour15','hour16'
        ,'hour17','hour18','hour19','hour20','hour21','hour22','hour23','hour24']; 
        let i = index" [matColumnDef]="dynamicColumn">
          <mat-header-cell *matHeaderCellDef  >{{i+1}}</mat-header-cell>
          <mat-cell *matCellDef="let row;  let indexOfElement = index" 

          (contextmenu)="onRightClick($event, {content: indexOfElement })"
         
          (mouseover)="onCellClick( indexOfElement, i+1 )" 
          (mousedown)="onCellClickSingleClick( indexOfElement, i+1, $event )" 
          ondragstart="return false;" ondrop="return false;"
                   
          [ngClass]="
          (  IsCellClickForEachBarname[indexOfElement]['accepted'][i+1])? 'accepted'
          :( IsCellClickForEachBarname[indexOfElement]['waiting'][i+1])? 'prim_reg'
          :(IsCellClick[indexOfElement][i+1])? 'selected_Cell_ForReg'
          :(  RowsData[indexOfElement+1][i+1] < requestVolume )? 'unavailable_Cell_ForReg'
          :( RowsDataForColor[indexOfElement+1][i+1] >= requestVolume )? 'available_Cell_ForReg'
          : (dynamicColumn == 'hour')? 'table_head': 'in_query_'+math.round(math.max(math.min((requestVolume-RowsDataForColor[indexOfElement+1][i+1])/10,10),0))" 
          style="font:14px BZar;"
  
          >
          {{row.hour[i]}}</mat-cell>
      </ng-container>
      
      
      <ng-container matColumnDef="advancedTool">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox [aria-label]="" 
                 name="checkedAll"
                 value=""
                 (click)="selectAll()"
                 [(ngModel)]="selectAllDays"
                 class="delete_btn_all myTableCell2"
                 title="انتخاب همه"
                 
                >
               
             </mat-checkbox>
        </mat-header-cell>
        <mat-cell class="myTableCell"  *matCellDef="let row;  let indexOfElement = index">
          <mat-checkbox  class="myTableCell2"[aria-label]="" 
           
               value="{{selectedDaysForDeletion[indexOfElement].value}}"
               [(ngModel)]="selectedDaysForDeletion[indexOfElement].checked">
             </mat-checkbox>
        </mat-cell>
    </ng-container>
 
      <ng-container matColumnDef="advancedTool2">
        <mat-header-cell *matHeaderCellDef>
          <button 
          style="background-color: transparent; border: transparent;"
          (click)="deleteAll(resourceId, year, month,  barnameId)">
            <mat-icon color = "warn" class="delete_btn delete_btn_all" title="حذف روزهای انتخاب شده">
              delete
            </mat-icon>
          
          </button>
        </mat-header-cell>
        <mat-cell class="myTableCell"  *matCellDef="let row;  let indexOfElement = index">
          <button 
          style="background-color: transparent; border: transparent;"
          (click)="deleteRequestConform(resourceId, year, month, indexOfElement+1, barnameId)">
          <mat-icon color = "warn" class="delete_btn" title="حذف این ردیف">
            delete
          </mat-icon>
        </button>
        </mat-cell>
    </ng-container>
 
      <ng-container matColumnDef="advancedTool3">
        <mat-header-cell *matHeaderCellDef>
          <button 
          style="background-color: transparent; border: transparent;"
          >
          <mat-icon color = "primary"
          class="delete_btn_all" >
          file_copy
            </mat-icon>
          
          </button>
        </mat-header-cell>
        <mat-cell class="myTableCell"  *matCellDef="let row;  let indexOfElement = index">
          <button 
          style="background-color: transparent; border: transparent;"
          (click)="copyRowPattern( indexOfElement+1)"
          title="کپی الگوی این روز">

              <mat-icon color = "primary" class="delete_btn">
                file_copy
              </mat-icon>
          
        </button>
        </mat-cell>
    </ng-container>
 
      <ng-container matColumnDef="advancedTool4">
        <mat-header-cell *matHeaderCellDef>
          <button 
             style="background-color: transparent; border: transparent;"
             (click)="pasteAll()">
             <mat-icon color = "primary"
             class="delete_btn_all" >
               format_paint
               </mat-icon>
             
             </button>
        </mat-header-cell>
        <mat-cell class="myTableCell"  *matCellDef="let row;  let indexOfElement = index">
          <mat-checkbox [aria-label]="" 
          class="myTableCell2"
          value="{{selectedDaysForPaste[indexOfElement].value}}"
          [(ngModel)]="selectedDaysForPaste[indexOfElement].checked"
          title="انتخاب این روز برای تکرار فرمت انتخاب شده در آن">
      </mat-checkbox>
        </mat-cell>
    </ng-container>
 
        <mat-header-row *matHeaderRowDef="columnsTest">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsTest"></mat-row>

        
    </mat-table>

   </div>
</div>
<br>
<ag-grid-angular
style="width: 500px; height: 500px;"
class="ag-theme-alpine"
[rowData]="rowData"
[columnDefs]="columnDefs">
</ag-grid-angular>