@font-face {
    font-family: BTrafic;
    src: url('/DatingApp-SPA/src/assets/library/fonts/BVahidBold.eot');
    font-weight: normal;
}

.right-box span{
    font-family: "Shekaste";
    color: #4b06ba;
    margin-right: 10px;
    font-size: large;

}
.title{
    font-family: "Dima";
    color: #4b06ba;
 
    font-size: xx-large;
}
.matn{
    font-family: "BTraffic";
}

strong{
    font-family: "Dima";
    font-size: large;
    margin-bottom: 20px;
}

.right-box{
    padding-top: 20px;
    text-align: right;
    border: 1px solid #f7ac83;
    padding-right: 10%;
    margin-top: 84px;
    margin-bottom: 40px;
    
    height:100%;
   
}
.num{
    font-family: BZar !important;
}

.col-r-d{
    margin-bottom: 40px;
}

